Source: nagios-plugins-kumina
Section: net
Priority: optional
Maintainer: Pieter Lexis <pieter@kumina.nl>
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 5), build-essential, libssl-dev

Package: nagios-plugins-kumina
Architecture: any
Depends: ${shlibs:Depends}
Description: Nagios plugins provided by Kumina
 The Nagios plugins by Kumina package installs additional plugins for
 Nagios. It installs a plugin to check for SSL certificate validity,
 a script to validate Pacemaker configuration, a plugin to  monitor
 Java memory usage and a lot more!
