#!/usr/bin/make -f

NPDIR=${CURDIR}/debian/nagios-plugins-kumina

build:
	dh_testdir
	$(MAKE)
	touch build

clean:
	dh_testdir
	rm -f build
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	mkdir -p \
		${NPDIR}/usr/lib/nagios/plugins \
		${NPDIR}/usr/share/doc/nagios-plugins-kumina
	install -m 644 debian/copyright \
		${NPDIR}/usr/share/doc/nagios-plugins-kumina
	install -m 775 check_sslcert \
		${NPDIR}/usr/lib/nagios/plugins/check_sslcert
	install -m 775 check_loadtrend \
		${NPDIR}/usr/lib/nagios/plugins/check_loadtrend
	for file in check_*.sh; do \
		tmp="`basename $$file .sh`"; \
		install -m 775 $$file ${NPDIR}/usr/lib/nagios/plugins/$$tmp``; \
	done
	for file in check_*.pl; do \
		tmp="`basename $$file .pl`"; \
		install -m 775 $$file ${NPDIR}/usr/lib/nagios/plugins/$$tmp``; \
	done
	for file in check_*.py; do \
		tmp="`basename $$file .py`"; \
		install -m 775 $$file ${NPDIR}/usr/lib/nagios/plugins/$$tmp``; \
	done
	for file in check_*.rb; do \
		tmp="`basename $$file .rb`"; \
		install -m 775 $$file ${NPDIR}/usr/lib/nagios/plugins/$$tmp``; \
	done
	dh_installchangelogs
	dh_compress

binary: build install
	dh_testdir -s
	dh_strip -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

.PHONY: clean install binary
