#!/usr/bin/make -f

NPDIR=${CURDIR}/debian/nagios-plugins-kumina

build:
	dh_testdir
	$(MAKE)
	touch build

clean:
	dh_testdir
	rm -f build
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	mkdir -p \
		${NPDIR}/usr/lib/nagios/plugins \
		${NPDIR}/usr/share/doc/nagios-plugins-kumina
	install -m 644 debian/copyright \
		${NPDIR}/usr/share/doc/nagios-plugins-kumina
	install -m 755 check_3ware.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_3ware
	install -m 755 check_adaptec.py \
		${NPDIR}/usr/lib/nagios/plugins/check_adaptec
	install -m 755 check_asterisk.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_asterisk
	install -m 755 check_cassandra.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_cassandra
	install -m 755 check_cpu.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_cpu
	install -m 755 check_dnszone.py \
		${NPDIR}/usr/lib/nagios/plugins/check_dnszone
	install -m 755 check_drbd.pl \
		${NPDIR}/usr/lib/nagios/plugins/check_drbd
	install -m 755 check_ferm_config.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_ferm_config
	install -m 755 check_file.py \
		${NPDIR}/usr/lib/nagios/plugins/check_file
	install -m 755 check_heartbeat.pl \
		${NPDIR}/usr/lib/nagios/plugins/check_heartbeat
	install -m 755 check_memory.py \
		${NPDIR}/usr/lib/nagios/plugins/check_memory
	install -m 755 check_icinga_config.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_icinga_config
	install -m 755 check_javaheapusage.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_javaheapusage
	install -m 755 check_mysql_connlimit.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_mysql_connlimit
	install -m 755 check_nullmailer.py \
		${NPDIR}/usr/lib/nagios/plugins/check_nullmailer
	install -m 755 check_loadtrend \
		${NPDIR}/usr/lib/nagios/plugins
	install -m 755 check_open_files.pl \
		${NPDIR}/usr/lib/nagios/plugins/check_open_files
	install -m 755 check_pacemaker_config.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_pacemaker_config
	install -m 755 check_passenger_queue.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_passenger_queue
	install -m 755 check_proc_status.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_proc_status
	install -m 755 check_puppet.rb \
		${NPDIR}/usr/lib/nagios/plugins/check_puppet
	install -m 755 check_rabbitmqctl.sh \
		${NPDIR}/usr/lib/nagios/plugins/check_rabbitmqctl
	install -m 755 check_sslcert \
		${NPDIR}/usr/lib/nagios/plugins
	dh_installchangelogs
	dh_compress

binary: build install
	dh_testdir -s
	dh_strip -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

.PHONY: clean install binary
