#!/usr/bin/make -f

NPDIR=${CURDIR}/debian/nagios-plugins-kumina

build:
	dh_testdir
	$(MAKE)
	touch build

clean:
	dh_testdir
	rm -f build
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	mkdir -p \
		${NPDIR}/usr/lib/nagios/plugins \
		${NPDIR}/usr/share/doc/nagios-plugins-kumina
	install -m 644 debian/copyright \
		${NPDIR}/usr/share/doc/nagios-plugins-kumina
	install -m 755 check_sslcert \
		${NPDIR}/usr/lib/nagios/plugins
	dh_installchangelogs
	dh_compress

binary: build install
	dh_testdir -s
	dh_strip -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

.PHONY: clean install binary
